In [24]:
import pandas as pd
import os

In [25]:
path = os.path.join('Resources','War_dataset.xlsx')
conflict_df = pd.read_excel(path, header = 1)

In [26]:
# List of columns to drop from the war_df
drop_columns = [
    'conflict_id',
    'year',
    'side_a_id',
    'side_b_id',
    'gwno_a',
    'gwno_a_2nd',
    'gwno_b',
    'gwno_b_2nd',
    'gwno_loc',
    'start_prec',
    'version',
    'intensity_level',
    'start_date2',
    'start_prec2',
    'ep_end_prec'
]

In [27]:
conflict_df_dropped = conflict_df.drop(columns = drop_columns)

In [28]:
conflict_df_dropped.columns

Index(['location', 'side_a', 'side_a_2nd', 'side_b', 'side_b_2nd',
       'incompatibility', 'territory_name', 'cumulative_intensity',
       'type_of_conflict', 'start_date', 'ep_end', 'ep_end_date', 'region'],
      dtype='object')

In [29]:
conflict_df_dropped.dtypes

location                        object
side_a                          object
side_a_2nd                      object
side_b                          object
side_b_2nd                      object
incompatibility                  int64
territory_name                  object
cumulative_intensity             int64
type_of_conflict                 int64
start_date              datetime64[ns]
ep_end                           int64
ep_end_date             datetime64[ns]
region                          object
dtype: object

In [30]:
conflict_df_dropped.isna().sum()

location                   0
side_a                     0
side_a_2nd              2137
side_b                     0
side_b_2nd              2385
incompatibility            0
territory_name          1098
cumulative_intensity       0
type_of_conflict           0
start_date                 0
ep_end                     0
ep_end_date             1981
region                     0
dtype: int64

In [31]:
conflict_df_dropped.region.value_counts()

3             1007
4              793
2              357
5              195
1              142
1, 3             4
1, 2             4
1, 5             1
1, 4             1
1, 3, 5          1
1, 2, 3, 5       1
Name: region, dtype: int64

In [32]:
path = os.path.join('Resources', 'cleaned_conflict_1.csv')
conflict_df_dropped.to_csv(path)

In [23]:
conflict_df_dropped.iloc[[0]]

,location,side_a,side_a_2nd,side_b,side_b_2nd,incompatibility,territory_name,cumulative_intensity,type_of_conflict,start_date,ep_end,ep_end_date,region
row,,,,,,,,,,,,,
0,India,Government of India,NaN,GNLA,NaN,1,Garoland,0,3,1997-05-29,1,2012-12-21,3