In [14]:
import pandas as pd
import os

In [15]:
path = os.path.join('Resources','War_dataset.xlsx')
conflict_df = pd.read_excel(path, header = 1)

In [33]:
# List of columns to drop from the war_df
drop_columns = [
    'conflict_id',
    'year',
    'side_a_id',
    'side_b_id',
    'gwno_a',
    'gwno_a_2nd',
    'gwno_b',
    'gwno_b_2nd',
    'gwno_loc',
    'start_prec',
    'version',
    'intensity_level',
    'start_date2',
    'start_prec2'
]

In [34]:
conflict_df_dropped = conflict_df.drop(columns = drop_columns)

In [35]:
conflict_df_dropped.columns

Index(['location', 'side_a', 'side_a_2nd', 'side_b', 'side_b_2nd',
       'incompatibility', 'territory_name', 'cumulative_intensity',
       'type_of_conflict', 'start_date', 'ep_end', 'ep_end_date',
       'ep_end_prec', 'region'],
      dtype='object')

In [29]:
conflict_df_dropped.territory_name.value_counts()

Islamic State    89
Kurdistan        87
Palestine        66
Karen            61
Kashmir          58
                 ..
Lake Chad         1
Korfu Channel     1
Slovenia          1
Taiwan            1
Somaliland        1
Name: territory_name, Length: 141, dtype: int64