# Data Preprocessing

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score, r2_score
import tensorflow as tf
import keras_tuner as kt
from sqlalchemy import create_engine

In [2]:
# connect to database
from config import username, pwd
from db_config import endpoint, port, db_name
db_url = f'postgresql://{username}:{pwd}@{endpoint}:{port}/{db_name}'
engine = create_engine(db_url)
conn = engine.connect()

# read in data to pandas
conflict_df = pd.read_sql_table('conflict_dropped', con = conn)
stocks_df = pd.read_sql_table('joined_stocks', con = conn)

# close connection
conn.close()

In [3]:
# convert strings to datetimes
stocks_df['Date'] = pd.to_datetime(stocks_df['Date'])
conflict_df['start_date'] = pd.to_datetime(conflict_df['start_date'])
conflict_df['start_date2'] = pd.to_datetime(conflict_df['start_date2'])

In [4]:
# Trying merge
combined_df = conflict_df.merge(stocks_df, how = 'outer', left_on='start_date2', right_on = 'Date')

In [5]:
# gather conflict information that is within the stock availability window.
sorted_stock_dates = stocks_df.Date.sort_values()
available_conflicts = (conflict_df.start_date >= sorted_stock_dates[0]) & (conflict_df.start_date <= sorted_stock_dates.iloc[-1] )

In [6]:
conflict_df[available_conflicts]

,location,side_a,side_a_2nd,side_b,side_b_2nd,incompatibility,territory_name,cumulative_intensity,type_of_conflict,start_date,start_date2,ep_end,region
0,India,Government of India,None,GNLA,None,1,Garoland,0,3,1997-05-29,2012-11-15,1,3
1,India,Government of India,None,GNLA,None,1,Garoland,0,3,1997-05-29,2014-07-01,1,3
6,Sudan,Government of Sudan,None,Republic of South Sudan,None,1,Abyei,0,3,2011-05-01,2011-05-19,1,4
7,South Sudan,Government of South Sudan,None,"SSDM/A, SSLM/A",None,2,None,0,3,2011-08-20,2011-08-20,0,4
8,South Sudan,Government of South Sudan,None,SSLM/A,None,2,None,0,3,2011-08-20,2011-08-20,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,Ethiopia,Government of Ethiopia,None,SLM,None,1,Sidamaland,1,3,1981-03-21,1983-03-16,1,4
2491,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2009-08-29,1,3
2492,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2014-12-22,0,3
2493,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2014-12-22,1,3
2494,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2017-03-06,1,3

In [7]:
# create a function to identify the nearest date to get relevant stock rows
def find_nearest_date(date, stock_dates, row_list, not_used_index):
    index = stock_dates.index.get_loc(date, method = 'nearest')
    row_list.append(index)
    if index in not_used_index:
        not_used_index.remove(index)
    return row_list, not_used_index

In [8]:
# create stock_dates_df which has ordered dates as the index for searching
stock_dates_df = stocks_df.set_index('Date').sort_index().dropna()

In [9]:
# create a new DF to append stock data to
available_conflicts_df = conflict_df[available_conflicts].copy()
available_conflicts_df[stock_dates_df.columns] = -999 # default value for easy identification

In [10]:
# create lists for storing stock row indices
stock_rows = []
double_count_index = list(range(stock_dates_df.shape[0])) # used to avoid double counting when merging data later

for index, date in available_conflicts_df.start_date2.iteritems():
    stock_rows, double_count_index = \
    find_nearest_date(date, stock_dates_df, stock_rows, double_count_index)

In [11]:
# insert stock data to available_conflicts_df
available_conflicts_df[stock_dates_df.columns] = stock_dates_df.iloc[stock_rows].values

In [12]:
available_conflicts_df

,location,side_a,side_a_2nd,side_b,side_b_2nd,incompatibility,territory_name,cumulative_intensity,type_of_conflict,start_date,start_date2,ep_end,region,S&P_500,NASDAQ,Dow_Jones
0,India,Government of India,None,GNLA,None,1,Garoland,0,3,1997-05-29,2012-11-15,1,3,1359.88,2853.13,12588.31
1,India,Government of India,None,GNLA,None,1,Garoland,0,3,1997-05-29,2014-07-01,1,3,1985.44,4485.93,17068.26
6,Sudan,Government of Sudan,None,Republic of South Sudan,None,1,Abyei,0,3,2011-05-01,2011-05-19,1,4,1333.27,2803.32,12512.04
7,South Sudan,Government of South Sudan,None,"SSDM/A, SSLM/A",None,2,None,0,3,2011-08-20,2011-08-20,0,4,1123.53,2341.84,10817.65
8,South Sudan,Government of South Sudan,None,SSLM/A,None,2,None,0,3,2011-08-20,2011-08-20,0,4,1123.53,2341.84,10817.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,Ethiopia,Government of Ethiopia,None,SLM,None,1,Sidamaland,1,3,1981-03-21,1983-03-16,1,4,149.90,265.01,1117.74
2491,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2009-08-29,1,3,1028.93,2028.77,9544.20
2492,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2014-12-22,0,3,2070.65,4765.38,17804.80
2493,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2014-12-22,1,3,2070.65,4765.38,17804.80
2494,Myanmar (Burma),Government of Myanmar (Burma),None,MNDAA,None,1,Kokang,0,3,2009-08-27,2017-03-06,1,3,2383.12,5870.75,21005.71

In [13]:
available_conflicts_df[['location',
                        'side_a',
                        'side_b',
                        'territory_name',
                        'start_date',
                        'start_date2',
                        'region',
                        'type_of_conflict',
                        'S&P_500',
                        'NASDAQ',
                        'Dow_Jones']].to_csv('Resources/geo_conflict_data.csv')

In [14]:
# create a function to bin the categorical data
def create_bins(df, col, thresh):
    output = df[col].copy()
    frequencies = output.value_counts()
    categories_to_keep = frequencies[:thresh].index
    output = output.apply(lambda x: x if x in categories_to_keep else 'Other')
    return output

In [15]:
available_conflicts_df.dtypes[available_conflicts_df.dtypes == 'object'].index

Index(['location', 'side_a', 'side_a_2nd', 'side_b', 'side_b_2nd',
       'territory_name', 'region'],
      dtype='object')

In [16]:
my_set = set()
for item in set(available_conflicts_df.side_a_2nd.value_counts().index.to_list()):
    for govt in item.split(', '):
        my_set.add(govt)
len(my_set)
my_set

{'Government of Afghanistan',
 'Government of Angola',
 'Government of Armenia',
 'Government of Australia',
 'Government of Austria',
 'Government of Bangladesh',
 'Government of Belgium',
 'Government of Benin',
 'Government of Bhutan',
 'Government of Bosnia-Herzegovina',
 'Government of Botswana',
 'Government of Burkina Faso',
 'Government of Burundi',
 'Government of Cambodia (Kampuchea)',
 'Government of Cameroon',
 'Government of Canada',
 'Government of Chad',
 'Government of China',
 'Government of Congo',
 'Government of Croatia',
 'Government of Cuba',
 'Government of Czech Republic',
 'Government of DR Congo (Zaire)',
 'Government of Denmark',
 'Government of Djibouti',
 'Government of Egypt',
 'Government of El Salvador',
 'Government of Estonia',
 'Government of Ethiopia',
 'Government of Finland',
 'Government of France',
 'Government of Gambia',
 'Government of Germany',
 'Government of Ghana',
 'Government of Greece',
 'Government of Guatemala',
 'Government of Guinea',
 'Government of Guinea-Bissau',
 'Government of Hungary',
 'Government of Indonesia',
 'Government of Iran',
 'Government of Ireland',
 'Government of Italy',
 'Government of Ivory Coast',
 'Government of Japan',
 'Government of Jordan',
 'Government of Kenya',
 'Government of Kuwait',
 'Government of Kyrgyzstan',
 'Government of Latvia',
 'Government of Liberia',
 'Government of Libya',
 'Government of Lithuania',
 'Government of Madagascar',
 'Government of Malawi',
 'Government of Mali',
 'Government of Mauritania',
 'Government of Mexico',
 'Government of Nepal',
 'Government of Netherlands',
 'Government of New Zealand',
 'Government of Niger',
 'Government of Nigeria',
 'Government of Norway',
 'Government of Pakistan',
 'Government of Poland',
 'Government of Portugal',
 'Government of Romania',
 'Government of Russia (Soviet Union)',
 'Government of Rwanda',
 'Government of Saudi Arabia',
 'Government of Senegal',
 'Government of Sierra Leone',
 'Government of Slovakia',
 'Government of South Africa',
 'Government of Spain',
 'Government of Sri Lanka',
 'Government of Sweden',
 'Government of Switzerland',
 'Government of Tajikistan',
 'Government of Tanzania',
 'Government of Togo',
 'Government of Tunisia',
 'Government of Turkey',
 'Government of Uganda',
 'Government of Ukraine',
 'Government of United Kingdom',
 'Government of United States of America',
 'Government of Uzbekistan',
 'Government of Yemen (North Yemen)',
 'Government of Zambia',
 'Government of Zimbabwe (Rhodesia)'}

In [17]:
# get string columns for encoding
string_cols = available_conflicts_df.dtypes[available_conflicts_df.dtypes == 'object'].index
ignore_cols = ['side_a_2nd', 'side_b_2nd', 'region'] # can handle later if necessary
string_cols = string_cols.drop(labels = ignore_cols)

# bin the categorical data 
names_to_keep = 25 # number of bins = names_to_keep + 1
for col in string_cols:
    available_conflicts_df[col] = create_bins(available_conflicts_df, col, names_to_keep)

# hand encode region columns 1,2,3,4,5 before encoding the rest
available_conflicts_df['region_1'] = 0
available_conflicts_df['region_2'] = 0
available_conflicts_df['region_3'] = 0
available_conflicts_df['region_4'] = 0
available_conflicts_df['region_5'] = 0

# store the conflict region strings as a series
conflict_regions = available_conflicts_df.region.copy()

# loop over the conflict_region strings
for row, regions_string in enumerate(conflict_regions):
    
    # split the strings
    regions = regions_string.split(',')
    # extract the row
    row_data = available_conflicts_df.iloc[row,-5:].copy()
    for region in regions:
        row_data['region_' + str(int(region))] = 1
    available_conflicts_df.iloc[row, -5:] = row_data
available_conflicts_df
# encode the data
binned_df = pd.get_dummies(available_conflicts_df, columns = string_cols)

# add a Date column to binned_df for merging
binned_df['Date'] = binned_df.start_date2

In [18]:
# merge on date and stock data
combined_df = binned_df.merge(
    stock_dates_df.iloc[double_count_index],
    on=['Date', 'S&P_500','NASDAQ','Dow_Jones'],
    how = 'outer'
)

# create year, month, day columns
combined_df['year'] = combined_df.Date.apply(lambda date: date.year)
combined_df['month'] = combined_df.Date.apply(lambda date: date.month)
combined_df['day'] = combined_df.Date.apply(lambda date: date.day)

In [19]:
# drop rows that have missing stock data
combined_df = combined_df[combined_df['S&P_500'].notna()]
combined_df = combined_df[combined_df['NASDAQ'].notna()]
combined_df = combined_df[combined_df['Dow_Jones'].notna()]

In [20]:
# drop start_date and start_date2
combined_df = combined_df.drop(columns = ['start_date', 'start_date2'])

# fill in NaNs
combined_df = combined_df.fillna(0)

In [21]:
# output csv file
output_path = os.path.join('Resources', 'combined_data_1.csv')
combined_df.to_csv(output_path, index = False)

# Starting ML

In [22]:
# drop unnecessary columns from data
ignore_cols.append('Date')
data = combined_df.drop(columns = ignore_cols).drop_duplicates()
data

,incompatibility,cumulative_intensity,type_of_conflict,ep_end,S&P_500,NASDAQ,Dow_Jones,region_1,region_2,region_3,...,territory_name_Novorossiya,territory_name_Other,territory_name_Punjab/Khalistan,territory_name_Rojava Kurdistan,territory_name_Serb,territory_name_Southern Lebanon,territory_name_Tripura,year,month,day
0,1.0,0.0,3.0,1.0,1359.88,2853.13,12588.31,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2012,11,15
1,1.0,0.0,3.0,1.0,1985.44,4485.93,17068.26,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2014,7,1
2,1.0,0.0,3.0,1.0,1333.27,2803.32,12512.04,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2011,5,19
3,2.0,0.0,3.0,0.0,1123.53,2341.84,10817.65,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2011,8,20
5,2.0,1.0,3.0,0.0,1123.53,2341.84,10817.65,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2011,8,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2592,0.0,0.0,0.0,0.0,2423.41,6140.42,21349.63,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,6,30
2593,0.0,0.0,0.0,0.0,2472.54,6387.75,21580.07,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,7,21
2594,0.0,0.0,0.0,0.0,2472.10,6374.68,21830.31,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,7,28
2595,0.0,0.0,0.0,0.0,2441.32,6256.56,21858.32,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,8,11
2596,0.0,0.0,0.0,0.0,2443.05,6265.64,21813.67,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,8,25

In [23]:
# extract X and y from data
y_cols = ['S&P_500', 'NASDAQ', 'Dow_Jones']
X = data.drop(columns = y_cols)
# converts all column dtypes to string instead of some being sqlalchemy quoted_name
X.columns = X.columns.map(str)
y = data[y_cols]

In [24]:
# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size=.8)

In [25]:
# scale data
X_scaler = StandardScaler()

X_train_scaled = X_scaler.fit_transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Extra Random Trees Regressor

In [26]:
# create regressor
# n_jobs = -1 means use all the processors on your PC to compute the decision trees in parallel
erf = ExtraTreesRegressor(n_estimators = 100, random_state = 42, n_jobs = -1)

# fit regressor/train model
erf.fit(X_train_scaled, y_train)

# make predictions
y_pred = erf.predict(X_test_scaled)

# covert predictions into dataframe
y_pred_df = pd.DataFrame(y_pred.round(2), index = y_test.index, columns = y_test.columns)

In [27]:
mean_squared_error(y_test, y_pred_df, squared=False, multioutput='raw_values')

array([ 22.02850271,  68.77912573, 189.16333963])

In [28]:
r2_score(y_test, y_pred_df)

0.9984806609299305

In [29]:
(((np.abs(y_test-y_pred_df) / y_test) * 100)).max()

S&P_500      22.906249
NASDAQ       35.344431
Dow_Jones    19.303284
dtype: float64

In [30]:
for importance, feature in sorted(zip(erf.feature_importances_, X.columns), reverse=True):
    print(feature, importance)

year 0.9756062910119059
territory_name_Islamic State 0.009155322168726167
month 0.006580653286561413
side_b_IS 0.0063633516866222085
day 0.000586633244976317
type_of_conflict 0.00031497476012634575
cumulative_intensity 0.00012355802711623
incompatibility 0.00011062994633272095
region_2 9.597059992079662e-05
region_4 7.989392371598975e-05
location_Pakistan 7.984265410978841e-05
side_a_Government of Pakistan 7.039532616095372e-05
side_b_FDLR 5.387952451175048e-05
side_b_Other 4.3877885452193724e-05
side_a_Government of Rwanda 4.138589595800367e-05
side_a_Government of South Sudan 3.971659872509006e-05
location_Syria 3.8835011501314166e-05
territory_name_Other 3.81461671288264e-05
location_Egypt 3.6874184826611745e-05
side_a_Government of Syria 3.6602136008178745e-05
region_1 3.2984996143508184e-05
region_3 3.187820292944761e-05
location_South Sudan 2.940457416019084e-05
side_a_Government of Russia (Soviet Union) 2.7714512716430746e-05
ep_end 2.6509492076010056e-05
location_Rwanda 2.5408769507769447e-05
side_a_Government of Central African Republic 2.047012960896099e-05
side_a_Other 1.6866645476039237e-05
location_Tajikistan 1.6783239553002928e-05
territory_name_Common border 1.6070983606205484e-05
region_5 1.5741257774883843e-05
location_Other 1.4898805739839868e-05
location_Turkey 1.3663499943039127e-05
location_Libya 1.1114519880547597e-05
side_a_Government of Turkey 1.0090698745156855e-05
side_a_Government of Egypt 1.008097658289037e-05
location_India 9.602906235270959e-06
location_Myanmar (Burma) 9.488572691534482e-06
location_Central African Republic 8.601545668917547e-06
side_a_Government of Angola 8.561974311956057e-06
location_Russia (Soviet Union) 8.469578913980001e-06
side_a_Government of Libya 8.229647841501528e-06
territory_name_Kongo Kingdom 8.203906179009023e-06
location_Angola 7.832025864093142e-06
territory_name_Bodoland 6.73586522069211e-06
territory_name_Artsakh (Nagorno-Karabakh) 5.932157661824734e-06
side_a_Government of Myanmar (Burma) 5.752164171895436e-06
side_a_Government of Mali 5.74354832661858e-06
side_a_Government of India 5.428576227229855e-06
location_Azerbaijan 5.218406036526131e-06
side_b_MFDC 4.927567387064915e-06
location_Mali 4.3970095391836854e-06
location_Mozambique 4.300273568275451e-06
territory_name_Caucasus Emirate 4.242480047298712e-06
location_Ukraine 3.995872707765774e-06
side_a_Government of Senegal 3.5892387680847993e-06
location_Senegal 3.4353172160567285e-06
territory_name_Rojava Kurdistan 3.356388703958096e-06
territory_name_Casamance 3.273722864232934e-06
territory_name_Cabinda 3.1529244597949263e-06
side_b_al-Qaida 3.1233225694109404e-06
location_Niger 2.9409392493956203e-06
side_a_Government of Azerbaijan 2.813139018817985e-06
territory_name_Tripura 2.700577431930474e-06
side_a_Government of Niger 2.588689216265079e-06
side_b_Republic of Artsakh 2.4704621512735623e-06
side_b_Forces of the Caucasus Emirate 2.459958757683241e-06
side_b_NSCN-K 2.1515392025959044e-06
territory_name_Nagaland 2.092363844530874e-06
territory_name_Manipur 1.3178639143881229e-06
location_United States of America 1.288878827994276e-06
territory_name_Southern Lebanon 1.2281802477534087e-06
side_b_Renamo 1.1325760674302492e-06
side_b_Al-Shabaab 1.1209184907167668e-06
territory_name_Azawad 1.1090428555561758e-06
side_a_Government of Mozambique 1.1050611064477464e-06
side_a_Government of Israel 1.084587522977428e-06
side_a_Government of Somalia 1.0382076790421035e-06
side_b_Hezbollah 8.525474764191303e-07
location_Israel 7.94335540593825e-07
territory_name_Novorossiya 7.342600617740275e-07
side_b_NDFB 6.499049681218069e-07
side_a_Government of Tajikistan 4.957299004383257e-07
side_a_Government of United States of America 4.5438432910967743e-07
location_Somalia 3.803342475643133e-07
side_b_FLEC-FAC 3.6975733341144044e-07
side_a_Government of Indonesia 3.569832652982641e-07
territory_name_Northeastern Province and Coast 3.272516368750597e-07
side_a_Government of Ukraine 2.8193904814485707e-07
territory_name_Aceh 2.467668810693641e-07
location_Indonesia 2.418904081216395e-07
side_b_GAM 2.373907765135209e-07
side_b_AQIM 1.6143259409864987e-07
location_Algeria 1.3976439833259918e-07
side_a_Government of Algeria 1.0783203532647149e-07
territory_name_Kurdistan 8.726592462738396e-08
side_b_PKK 7.290279385467249e-08
side_b_Chechen Republic of Ichkeria 6.976592761472736e-08
territory_name_Chechnya 6.494225249125813e-08
territory_name_Punjab/Khalistan 5.652893663451972e-08
territory_name_Assam 1.3366359164246161e-08
location_Sierra Leone 1.3229481083784595e-08
side_b_ANC 1.0259075605345544e-08
territory_name_Bougainville 6.8517903245842785e-09
side_b_ULFA 6.178319379996703e-09
territory_name_Serb 6.010235778379758e-09
side_a_Government of Sierra Leone 5.6510280807787564e-09
side_b_BRA 6.535795272669095e-10
side_b_PLA 3.484718854714197e-10
side_b_Sikh insurgents 2.1732498247338468e-10
side_b_TTP 2.406239823361896e-17
side_b_RUF 9.372255515114132e-20
territory_name_Kashmir 3.977423251012944e-20
side_b_Kashmir insurgents 2.458770736989818e-21
territory_name_Arssi, Bale & Sidamo 1.0124350093487487e-21
side_b_TNV 7.4124706041604805e-22

## Neural Network

In [31]:
# TODO: Keras Tuner Neural Network